.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.left-container {
    min-width: 70%;
}

.right-container {
    background-color: grey;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    right: 0;
    width: 30%;
}